<form [formGroup]="articuloForm" (ngSubmit)="onSubmit()">
  <h5>Formulario para Editar un Artículo</h5>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div>
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" />
    <div *ngIf="articuloForm.get('name')?.invalid && (articuloForm.get('name')?.dirty || articuloForm.get('name')?.touched)">
      <div *ngIf="articuloForm.get('name')?.errors?.['required']">El nombre es obligatorio.</div>
    </div>
  </div>

  <div>
    <label for="Description">Descripción:</label>
    <input id="Description" formControlName="Description" />
    <div *ngIf="articuloForm.get('Description')?.invalid && (articuloForm.get('Description')?.dirty || articuloForm.get('Description')?.touched)">
      <div *ngIf="articuloForm.get('Description')?.errors?.['required']">La descripción es obligatoria.</div>
    </div>
  </div>

  <div>
    <label for="unidad">Unidad:</label>
    <input id="unidad" formControlName="unidad" />
    <div *ngIf="articuloForm.get('unidad')?.invalid && (articuloForm.get('unidad')?.dirty || articuloForm.get('unidad')?.touched)">
      <div *ngIf="articuloForm.get('unidad')?.errors?.['required']">La unidad es obligatoria.</div>
    </div>
  </div>

  <div>
    <label for="stock">Stock:</label>
    <input id="stock" formControlName="stock" type="number" />
    <div *ngIf="articuloForm.get('stock')?.invalid && (articuloForm.get('stock')?.dirty || articuloForm.get('stock')?.touched)">
      <div *ngIf="articuloForm.get('stock')?.errors?.['required']">El stock es obligatorio.</div>
      <div *ngIf="articuloForm.get('stock')?.errors?.['min']">El stock no puede ser negativo.</div>
    </div>
  </div>

  <div>
    <label for="price">Precio:</label>
    <input id="price" formControlName="price" type="number" />
    <div *ngIf="articuloForm.get('price')?.invalid && (articuloForm.get('price')?.dirty || articuloForm.get('price')?.touched)">
      <div *ngIf="articuloForm.get('price')?.errors?.['required']">El precio es obligatorio.</div>
      <div *ngIf="articuloForm.get('price')?.errors?.['min']">El precio no puede ser negativo.</div>
    </div>
  </div>

  <button type="submit">Guardar</button>
</form>
